@use "../global" as global;
@use "../global/shortcut-functions" as f;

.c_breadclumbs {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
  font-size: 14px;

  .breadcrumbs > span {
    &:nth-child(1) {
      margin-right: 10px;
    }
    &:nth-child(n + 2) {
      margin-left: 10px;
    }
  }
}
